/*
 * Copyright 2023 NXP
 *
 * SPDX-License-Identifier: Apache-2.0
 */

&smu1 {
	smu1_data: memory@0 {
		/delete-property/ zephyr,memory-attr;
	};
};

&smu2 {
	smu2_data: memory@0 {
		/delete-property/ zephyr,memory-attr;
	};
};

/ {
	chosen {
		zephyr,flash = &sram_code;
	};

	aliases {
		sram-ext = &is66wvq8m4;
	};
};

&is66wvq8m4 {
	status = "okay";
};
