# Copyright (c) 2022, NXP
# SPDX-License-Identifier: Apache-2.0

config BOARD_RDRW610_EVK
	bool "NXP RW610-EVK"
	depends on SOC_SERIES_RW6XX
	select SOC_PART_NUMBER_RW610EVA0IK
	select NXP_RW6XX_BOOT_HEADER if !BOOTLOADER_MCUBOOT
