#-------------------------------------------------------------------------------
# Copyright 2023 NXP
# SPDX-License-Identifier: Apache-2.0
#
#-------------------------------------------------------------------------------

################################# Mbedcrypto ###################################

menu "Mbedcrypto profile"

config TFM_MBEDCRYPTO_CONFIG_PATH
    string "Mbedtls config path"
    default "${ZEPHYR_TRUSTED_FIRMWARE_M_MODULE_DIR}/lib/ext/mbedcrypto/mbedcrypto_config/tfm_mbedcrypto_config_default.h"
    help
      Mbedcrypto configuration file. See also Kconfig.misc in TF-M repository.

config TFM_MBEDCRYPTO_PSA_CRYPTO_CONFIG_PATH
    string "Mbedtls psa crypto config path"
    default "${ZEPHYR_TRUSTED_FIRMWARE_M_MODULE_DIR}/lib/ext/mbedcrypto/mbedcrypto_config/crypto_config_default.h"
    help
      Psa crypto configuration file. See also Kconfig.misc in TF-M repository.

config TFM_MBEDCRYPTO_PLATFORM_EXTRA_CONFIG_PATH
    string "Mbedtls platform crypto config path"
    default ""
    help
      Extra options for mbedcrypto configuration. See also Kconfig.misc in TF-M repository.

endmenu
