# Copyright 2023 NXP
# SPDX-License-Identifier: Apache-2.0

config BOARD_RD_RW612_BGA
	bool "NXP RD_RW612_BGA"
	depends on SOC_SERIES_RW6XX
	select SOC_PART_NUMBER_RW612ETA1I
	select NXP_RW6XX_BOOT_HEADER if !BOOTLOADER_MCUBOOT && !TRUSTED_EXECUTION_NONSECURE
