# RD_RW612_BGA board

# Copyright 2022-2023 NXP
# SPDX-License-Identifier: Apache-2.0

if BOARD_RD_RW612_BGA

config BOARD
	default "rd_rw612_bga"

choice FLASH_MCUX_FLEXSPI_XIP_MEM_TARGET
	default FLASH_MCUX_FLEXSPI_XIP_MEM_SRAM
endchoice

if LVGL

SWAP_BYTES := nxp,swap-bytes

# Swap color order for the default display panel
config LV_COLOR_16_SWAP
	default y if SPI
	# This will enable color swapping if the LCDIC does not have
	# the nxp,swap-bytes property set.
	default y if !$(dt_nodelabel_bool_prop,lcdic,$(SWAP_BYTES))

# Enable DMA mode if using SPI
config SPI_MCUX_FLEXCOMM_DMA
	default y if SPI

# Enable DMA for LCDIC as well
config MIPI_DBI_NXP_LCDIC_DMA
	default y if MIPI_DBI

# Increase descriptor count. LVGL will allocate a 30KB buffer,
# and the SPI driver sets up RX and TX side. Since LPC DMA has
# 1KB limit per descriptor, we need 60
config DMA_MCUX_LPC_NUMBER_OF_DESCRIPTORS
	default 60

# Allocate buffer that is 10% of screen size
config LV_Z_VDB_SIZE
	default 10

# Enable double buffering and offloaded render thread to improve performance
config LV_Z_DOUBLE_VDB
	default y

config LV_Z_FLUSH_THREAD
	default y

# Enable input subsystem for FT5336 driver
config INPUT
	default y

# KSCAN subsystem must be enabled for KSCAN input shim driver
config KSCAN
	default y

# Configure LVGL to use touchscreen with KSCAN API
config LV_Z_POINTER_KSCAN
	default y

# Swap X/Y coordinates, and invert Y to match screen layout
config LV_Z_POINTER_KSCAN_SWAP_XY
	default y

config LV_Z_POINTER_KSCAN_INVERT_Y
	default y


endif # LVGL

# Limit flash load size to avoid overwriting fw storage partition
# Flash load size must be given in hex, as a number of bytes
config FLASH_LOAD_SIZE
	default 0x400000 if !BOOTLOADER_MCUBOOT

# This is a workaround for not being able to define the BOOT_MAX_IMG_SECTORS
# within the MCUBoot board .conf file, since no fork of MCUBoot is maintained
# for the RW. We must define the BOOT_MAX_IMG_SECTORS Kconfig here to
# prevent undefined KConfig warnings when not building MCUBoot
config BOOT_MAX_IMG_SECTORS
	int "Max image sectors (MCUBoot)"
	help
	  Max sectors for bootable image. Used by MCUBoot to determine
	  the max slot size of an image.

if DT_HAS_NXP_KINETIS_ETHERNET_ENABLED && NETWORKING

config NET_L2_ETHERNET
	default y

endif # DT_HAS_NXP_KINETIS_ETHERNET_ENABLED && NETWORKING

if BUILD_WITH_TFM

	config PLATFORM_DEFAULT_CRYPTO_KEYS
		bool
		default n

	config FLASH_BASE_ADDRESS
		default 0x080A0000
		# Parts of Flash are used by TF-M SPE. This denotes the base address of the memory available
		# for the NSPE. It needs to match with the memory layout configured in TF-M (see
		# flash_layout.h in TF-M) as TF-M is in control of memory firewalls.

	config SRAM_BASE_ADDRESS
		default 0x2009a000
		# Parts of RAM are used by TF-M SPE. This denotes the base address of memory available for
		# the NSPE. It needs to be in line with the memory layout configured in TF-M (see
		# region_defs.h in TF-M).

	config SRAM_SIZE
		default 600
		default 599 if TFM_PSA_TEST_CRYPTO
		# Parts of RAM are used by TF-M SPE. This denotes the size of the memory available for the
		# NSPE in KiB. It needs to be in line with the memory layout configured in TF-M (see
		# region_defs.h in TF-M).

	config TFM_MBEDCRYPTO_CONFIG_PATH
		default "${ZEPHYR_TRUSTED_FIRMWARE_M_MODULE_DIR}/platform/ext/target/nxp/rdrw61x/mbedcrypto_config/tfm_mbedcrypto_config.h"

	config TFM_MBEDCRYPTO_PSA_CRYPTO_CONFIG_PATH
		default "${ZEPHYR_TRUSTED_FIRMWARE_M_MODULE_DIR}/platform/ext/target/nxp/rdrw61x/mbedcrypto_config/crypto_config.h"

endif # BUILD_WITH_TFM

if COUNTER_MCUX_LPC_RTC_1HZ

config XTAL32K
	default y

endif # COUNTER_MCUX_LPC_RTC_1HZ

endif # BOARD_RD_RW612_BGA
