# RD_RW612_BGA board

# Copyright 2022 NXP
# SPDX-License-Identifier: Apache-2.0

if BOARD_RD_RW612_BGA

config BOARD
	default "rd_rw612_bga"

choice FLASH_MCUX_FLEXSPI_XIP_MEM_TARGET
	default FLASH_MCUX_FLEXSPI_XIP_MEM_SRAM
endchoice

if LVGL

# Swap color order for the default display panel
config LV_COLOR_16_SWAP
	default y

# Enable DMA mode if using SPI
config SPI_MCUX_FLEXCOMM_DMA
	default y if SPI

# Increase descriptor count. LVGL will allocate a 30KB buffer,
# and the SPI driver sets up RX and TX side. Since LPC DMA has
# 1KB limit per descriptor, we need 60
config DMA_MCUX_LPC_NUMBER_OF_DESCRIPTORS
	default 60

# Allocate buffer that is 10% of screen size
config LV_Z_VDB_SIZE
	default 10

endif # LVGL

# Limit flash load size to avoid overwriting fw storage partition
# Flash load size must be given in hex, as a number of bytes
config FLASH_LOAD_SIZE
	default 0x400000 if !BOOTLOADER_MCUBOOT

endif # BOARD_RD_RW612_BGA
