# Copyright 2023 NXP
# SPDX-License-Identifier: Apache-2.0

config BOARD_RD_RW612_BGA
	bool "NXP RD_RW612_BGA"
	depends on SOC_SERIES_RW6XX
	select SOC_PART_NUMBER_RW612ETA1I
	select NXP_RW6XX_BOOT_HEADER if !BOOTLOADER_MCUBOOT

# This is a workaround for not being able to define the BOOT_MAX_IMG_SECTORS
# within the MCUBoot board .conf file, since no fork of MCUBoot is maintained
# for the RW. We must define the BOOT_MAX_IMG_SECTORS Kconfig here to
# prevent undefined KConfig warnings when not building MCUBoot
config BOOT_MAX_IMG_SECTORS
	int "Max image sectors (MCUBoot)"
	help
	  Max sectors for bootable image. Used by MCUBoot to determine
	  the max slot size of an image.
