/*
 * Copyright 2022 NXP
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;

#include <nxp/nxp_rw6xx.dtsi>
#include "rd_rw612_bga-pinctrl.dtsi"

/ {
	model = "NXP RD_RW612_BGA board";
	compatible = "nxp,rw612";

	aliases {
		usart-0 = &flexcomm3;
		led0 = &green_led;
		sw0 = &sw_4;
		watchdog0 = &wwdt;
		pwm-0 = &sc_timer;
	};

	chosen {
		zephyr,sram = &sram_data;
		zephyr,flash = &flash0;
		zephyr,code-partition = &code_partition;
		zephyr,console = &flexcomm3;
		zephyr,shell-uart = &flexcomm3;
		zephyr,display = &st7796s;
	};

	flash0: flash@18000000 {
		reg = <0x18000000 DT_SIZE_M(64)>;

		partitions {
			compatible = "fixed-partitions";
			#address-cells = <1>;
			#size-cells = <1>;

			code_partition: partition@0 {
				label = "application";
				reg = <0x0 DT_SIZE_M(4)>;
			};

			/* This partition is reserved for connectivity firmwares storage
			 * and shouldn't be moved.
			 */
			fw_storage: partition@400000 {
				label = "fw_storage";
				reg = <0x400000 0x280000>;
				read-only;
			};

			storage_partition: partition@680000 {
				label = "storage";
				reg = <0x680000 0x3980000>;
			};
		};
	};

	leds {
		compatible = "gpio-leds";
		green_led: led_1 {
			gpios = <&hsgpio1 20 0>;
			label = "User LED_GREEN";
		};
	};

	gpio_keys {
		compatible = "gpio-keys";
		sw_4: sw_4 {
			label = "User SW4";
			gpios = <&hsgpio0 25 0>;
		};
	};

	power-states {
		/* This is the setting for Idle Mode */
		idle: idle {
			compatible = "zephyr,power-state";
			power-state-name = "runtime-idle";
			min-residency-us = <0>;
			exit-latency-us = <0>;
		};
		/* This is the setting for Standby Mode */
		suspend: suspend {
			compatible = "nxp,pdcfg-power", "zephyr,power-state";
			power-state-name = "suspend-to-idle";
			/* TODO: Revisit latency numbers */
			min-residency-us = <500>;
			exit-latency-us = <120>;
			deep-sleep-config = <0x180000>,
						<0x0>,
						<0x4>,
						<0x100>,
						<0x0>;
		};
	};
};

&cpu0 {
	cpu-power-states = <&idle &suspend>;
};

&dma0 {
	status = "okay";
};

&flexcomm0 {
	compatible = "nxp,lpc-spi";
	pinctrl-0 = <&pinmux_flexcomm0_spi>;
	pinctrl-names = "default";
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;
	/*
	 * Settings to connect this display:
	 * Populate JP19 to connect SPI
	 * Set JP30 to connect pins 1 and 2 (Connects SSEL0 to CS pin)
	 * Display can be connected to MikoBus header (J13/J11)
	 * Pin #1 | Signal | Header
	 * -------------------------------
	 * 1      | VDD    | J13.7 (+3.3V)
	 * 2      | RST    | J11.2 (INT)
	 * 3      | SDO    | J13.5 (MISO)
	 * 4      | CS     | J13.3 (CS)
	 * 5      | SCLK   | J13.4 (SCK)
	 * 6      | GND    | J13.8 (GND)
	 * 7      | MOSI   | J13.6 (MOSI)
	 * 8      | CD     | J11.1 (PWM)
	 *
	 * Pins 10 and 11 correspond to the backlight anode and cathode,
	 * and must be driven by an external circuit
	 */
	st7796s: st7796s@0 {
		compatible = "sitronix,st7796s";
		reg = <0>;
		spi-max-frequency = <43000000>;
		cmd-data-gpios = <&hsgpio0 1 GPIO_ACTIVE_HIGH>; /* MikroE_PWM */
		reset-gpios = <&hsgpio1 18 GPIO_ACTIVE_HIGH>; /* D8 */
		height = <320>;
		width = <480>;
		invert-mode = "1-dot";
		frmctl1 = [80 10];
		bpc = [1F 50 00 20];
		dfc = [8A 07 3B];
		pwr1 = [80 64];
		pwr2 = <0x13>;
		pwr3 = <0xA7>;
		vcmpctl = <0x09>;
		doca = [40 8A 00 00 29 19 A5 38];
		pgc = [F0 06 0B 07 06 05 2E 33 47 3A 17 16 2E 31];
		ngc = [F0 09 0D 09 08 23 2E 33 46 38 13 13 2C 32];
		madctl = <0x28>;
	};
};

&flexcomm1 {
	compatible = "nxp,lpc-i2s";
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;
	pinctrl-0 = <&pinmux_flexcomm1_i2s>;
	pinctrl-names = "default";
};

&flexcomm2 {
	compatible = "nxp,lpc-i2c";
	status = "okay";
	clock-frequency = <I2C_BITRATE_FAST>;
	#address-cells = <1>;
	#size-cells = <0>;
	pinctrl-0 = <&pinmux_flexcomm2_i2c>;
	pinctrl-names = "default";
};

&flexcomm3 {
	compatible = "nxp,lpc-usart";
	status = "okay";
	current-speed = <115200>;
	pinctrl-0 = <&pinmux_flexcomm3_usart>;
	pinctrl-names = "default";
};

&hsgpio0 {
	status = "okay";
};

&wwdt {
	status = "okay";
};

/* OS Timer is the wakeup source for PM mode 2 */
&os_timer {
	status = "okay";
	wakeup-source;
};

zephyr_udc0: &usb_otg {
	status = "okay";
};

&adc0 {
	status = "okay";
};

&adc1 {
	status = "okay";
};

&sc_timer {
	status = "okay";
	pinctrl-0 = <&pinmux_pwm0>;
	pinctrl-names = "default";
};

&acomp_sensor0 {
	status = "okay";
	/* HD2 on the board, pin is labelled 42 in silk screen */
	nxp,pos-input = "CH0";
	nxp,neg-input = "VIO";
	nxp,vio-scaling-factor = <2>;
	nxp,bias-prog = "fast";
};
