# RW6XX Series

# Copyright 2022 NXP
# SPDX-License-Identifier: Apache-2.0

config SOC_SERIES_RW6XX
	bool "RW6XX Series Family MCU"
	select ARM
	select CPU_CORTEX_M33
	select CPU_CORTEX_M_HAS_DWT
	select SOC_FAMILY_IMX
	select CLOCK_CONTROL
	help
	  Enable support for RW6XX Series MCU series
