# RW6XX series configuration options

# Copyright 2022 NXP
# SPDX-License-Identifier: Apache-2.0

if SOC_SERIES_RW6XX

config CODE_DATA_RELOCATION_SRAM
	default y

config SOC_SERIES
	default "rw6xx"

config ROM_START_OFFSET
	default 0x1300 if NXP_RW6XX_BOOT_HEADER

config NUM_IRQS
	default 129

choice USB_MCUX_CONTROLLER_TYPE
	default USB_DC_NXP_EHCI
endchoice

if CORTEX_M_SYSTICK

config SYS_CLOCK_HW_CYCLES_PER_SEC
	default 260000000

endif # CORTEX_M_SYSTICK

if MCUX_OS_TIMER

config SYS_CLOCK_HW_CYCLES_PER_SEC
	default 1000000

endif # MCUX_OS_TIMER

source "soc/arm/nxp_imx/rw6xx/Kconfig.defconfig.rw6*"

endif # SOC_SERIES_RW6XX
