# RW6XX Series

# Copyright 2022 NXP
# SPDX-License-Identifier: Apache-2.0

config SOC_SERIES_RW6XX
	bool "RW6XX Series Family MCU"
	select ARM
	select CPU_CORTEX_M33
	select CPU_CORTEX_M_HAS_DWT
	select SOC_FAMILY_IMX
	select CLOCK_CONTROL
	select PLATFORM_SPECIFIC_INIT
	select CPU_HAS_ARM_SAU
	select CPU_HAS_ARM_MPU
	select CPU_HAS_FPU
	select HAS_MCUX_OS_TIMER
	select ARM_TRUSTZONE_M
	select CPU_CORTEX_M_HAS_SYSTICK
	select HAS_MCUX
	select HAS_MCUX_FLEXCOMM
	select INIT_SYS_PLL
	select HAS_MCUX_CACHE
	help
	  Enable support for RW6XX Series MCU series
